<div class="well" ng-init="init()">

	<div class="spinner text-center" ng-hide="mv.data.length > 0">
		<i  class="fa fa-cog fa-spin fa-3x fa-fw"></i>
		<span  class="sr-only">Loading...</span>
	</div>

	<div class="text-right" ng-show="mv.data.length > 0 && mv.display">
		<a class="fa fa-download" ng-click="mv.download($event)" aria-hidden="true"></a>
		<h4 class="text-center">{{mv.title}}</h4 class="text-center">
		<span class="badge pull-right">{{mv.year}}</span>
		<div id="{{mv.selector}}"></div>

	</div>
		
</div>