
<div>
	<div class="panel panel-default">
	  <!-- <div class="panel-heading"><i>Choosen projects:</i></div> -->
	  <div class="panel-body">
		<span class="badge" ng-repeat="project in projects">{{project.Name}} &#9680;</span>	
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-body">    	

	    <div class="btn-group">
			<label>Start date: </label>
			<p class="lead panel-body"
			         moment-picker="startDate" 
			         min-view="month"
			         max-view="month"
			         format="YYYY-MM-DD">
			  <i class="glyphicon glyphicon-calendar"></i>&nbsp;
			  <span>{{ startDate || "No selected"}}</span>
			</p>

			<label>End date: </label>
			<p class="lead panel-body"
			         moment-picker="endDate" 
			         min-view="month"
			         max-view="month"
			         format="YYYY-MM-DD">
			  <i class="glyphicon glyphicon-calendar"></i>&nbsp;
			  <span>{{ endDate || "No selected"}}</span>
			</p>
	    </div>

		<div class="text-left" ng-show="startDate">
			<label class="col-sm-11">
				<h4 class="cols-sm-10">From:</h4>
				<p class="help-block small">{{startDate}}</p>
			</label>
			<label class="col-sm-11">
				<h4 class="cols-sm-10">To:</h4>
				<p class="help-block small">{{endDate || ' Today'}}</p>
			</label>
			<a class="btn btn-lg btn-primary" ng-click="runReviewer()" ng-disabled="!startDate">Generate</a>
		</div>

	  </div>
	</div>
	
	<div class="panel panel-default"  ng-show="incidents.length > 0">

		<!-- Reported by Month -->
		<bars selector="chart1" data="chart1.data" year="chartTitle" display="chart1.display" /></bars>
		
		<!-- Reported by Project Name -->
		<bars selector="chart2" data="chart2.data" year="chartTitle" display="chart2.display" /></bars>
		
		<!-- Reported by Release Version -->
		<bars selector="chart3" data="chart3.data" year="chartTitle" display="chart3.display" /></bars>

		<div class="cf">
			
			<div class="row">
			  <div class="col-md-6">
				  <!-- Reported by Type Name -->
				  <bars selector="chart4" data="chart4.data" year="chartTitle" display="chart4.display" /></bars>
			  </div>
			  <div class="col-md-6">
			  	  <!-- Reported by Status -->
			  	  <bars selector="chart5" data="chart5.data" year="chartTitle" display="chart5.display" /></bars>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
				  <!-- Reported by Opener -->
				  <bars selector="chart6" data="chart6.data" year="chartTitle" display="chart6.display" /></bars>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
				  <!-- Reported by Opener -->
				  <bars selector="chart7" data="chart7.data" year="chartTitle" display="chart7.display" /></bars>
			  </div>
			</div>
		</div>
	</div>
</div>

