
<div>
	<div class="well collapse" id="users-container">
		<span ng-repeat="user in users" class="badge">{{user.FullName}} &#9680;</span> 
	</div>
	<div class="list-group pull-right">
		<a class="list-group-item cols-sm-2" ng-click="showUsers = !showUsers" data-toggle="collapse" data-target="#users-container">
			<i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; {{!showUsers?"show":"hide"}} users
		</a>
	</div>
</div>

<h3>{{project.Name}} <span class="small">{{project.ProjectId}}</span></h3>


<div class="form-group">
	<label>Choose Year:</label>
	<ol class="nya-bs-select" ng-model="selected.year" data-live-search="true" ng-change="build()">
	  <li nya-bs-option="year in years track by $index">
	  	<a>{{year}}
	  		<span class="glyphicon glyphicon-ok check-mark"></span>
	  	</a>
	  </li>
	</ol>
</div>

<!-- Incidents reported by year -->
<bars selector="chart1" data="chart1.data" year="selected.year" display="chart1.display" /></bars>

<!-- Incidents reported by releases -->
<bars selector="chart2" data="chart2.data" year="selected.year" display="chart2.display" /></bars>

<div class="form-group">
	<label>Choose a release:</label>
	<ol class="nya-bs-select" ng-model="selected.release" ng-change="filterReleaseByReleaseVersion(selected.release)" data-live-search="true">
	  <li nya-bs-option="release in releasesNames track by $index">
	  	<a>{{release.FullName}}
	  		<span class="glyphicon glyphicon-ok check-mark"></span>
	  	</a>
	  </li>
	</ol>
</div>

<div class="list-group">
	<div ng-show="filteredByRelease.length == 0">No values to display.</div>

	<!-- Release incidents reported by type -->
	<div ng-show="filteredByRelease.length > 0" class="list-group">
		
		<!-- Tasks Section -->
		<accordion-item release="{{selected.release.Name}} ({{selected.release.ReleaseId}})" section="tasks" label="Tasks" icon="fa-tasks">
		</accordion-item>

		<!-- Incidents Section -->
		<accordion-item release="{{selected.release.Name}} ({{selected.release.ReleaseId}})" section="incidents" label="Incidents" icon="fa-gears">
			<div class="row">
			  <div class="col-md-6">
				  <bars selector="chart3" data="chart3.data" year="selected.release.VersionNumber" display="chart3.display" /></bars>
			  </div>
			  <div class="col-md-6">
			  	<bars selector="chart4" data="chart4.data" year="selected.release.VersionNumber" display="chart4.display" /></bars>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
				<bars selector="chart5" data="chart5.data" year="selected.release.VersionNumber" display="chart5.display" /></bars>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
				<bars selector="chart6" data="chart6.data" year="selected.release.VersionNumber" display="chart6.display" /></bars>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
				<bars selector="chart7" data="chart7.data" year="selected.release.VersionNumber" display="chart7.display" /></bars>
			  </div>
			</div>
		</accordion-item>

		<!-- Test Cases Section -->
		<accordion-item release="{{selected.release.Name}} ({{selected.release.ReleaseId}})" section="testcases" label="Test Cases" icon="fa-flask">
		</accordion-item>
	</div>
</div>